* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    visibility: visible;
    user-select: none;
    flex-direction: center;
    justify-content: center;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    background-color: #070707;
    color: #dadada;
}

.title {
    position: relative;
    font-size: 4rem;
    flex-direction: center;
    justify-content: center;
    text-align: center;
}

.about {
    position: relative;
    padding-top: 2rem;
    font-size: 2.5rem;
}

.about > .aboutme {
    position: relative;
    font-size: 2.5rem;
}

.about > .aboutin {
    position: relative;
    font-size: 2rem;
}

.about .name{
    position: relative;
    padding-top: 2rem;
    font-size: 1.75rem;
}

.about .namein {
    position: relative;
}

.about .agein {
    position: relative;
    font-size: 1.75rem;
}

.about .description {
    position: relative;
    padding-top: 2rem;
    font-size: 1.75rem;
}

.bold {
    font-weight: bold;
}

.fadein {
    opacity : 0;
    transition : all 0.3s;
}

.fadein.active{
    opacity : 1;
}

.description .language {
    display: none;
    text-align: center;
}

.description .language.appear {
    display: block;
    animation: 2s language-fadeIn;
}

@keyframes language-fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.repo {
    position: relative;
    padding-top: 4rem;
    font-size: 2.5rem;
}

.repo > .repo-info {
    position: relative;
    font-size: 2.5rem;
}

.repo > .repo-list {
    position: relative;
    padding-top: 1.5rem;
    font-size: 1.75rem;
}

.repo > .repo-list > .repo-child {
    position: relative;
}

a {
    color: #cecece;
}

a:hover {
    color: #cecece;
}

a:visited {
    color: #cecece;
}

.contact {
    position: relative;
    padding-top: 4rem;
    font-size: 2.5rem;
}

.contact > .contact-info {
    position: relative;
    font-size: 2.5rem;
}

.contact  > .contact-child {
    font-size: 1.5rem;
}