* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Manrope";
    src: url(../assets/Manrope.ttf);
}

body {
    background-color: #252525;
    user-select: none;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: top;
    width: calc(100%);
    height: calc(100%);
    flex-wrap: wrap;
}

.title {
    font-family: "Manrope";
    font-size: 5rem;
    color: #cecece;
    width: 100%;
    border-bottom: 4px solid #cecece;
    flex-direction: center;
    justify-content: center;
    text-align: center;
}

.title>.icons {
    position: relative;
    flex-direction: center;
    justify-content: center;
    text-align: center;
    right: 0;
    bottom: 0;
    display: inline;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 1s;
}

.aboutme {
    font-family: "Manrope";
    margin: 20px;
    text-align: left;
    font-size: 3rem;
    color: #cecece;
}

.aboutme>div {
    color: #cecece;
    font-size: 1.5rem;
}

.contact {
    font-family: "Manrope";
    margin: 20px;
    text-align: left;
    font-size: 3rem;
    color: #cecece;
}

.contact>div {
    color: #cecece;
    font-size: 1.5rem;
}

.production {
    flex-direction: center;
    justify-content: center;
    font-family: "Manrope";
    margin: 20px;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: #cecece;
}

.production>div {
    color: #cecece;
    font-size: 1.5rem;
}

a[href^="http"] {
    color: #cecece;
}

a[href^="http"]:hover {
    color: #cecece;
}

a[href^="http"]:visited {
    color: #cecece;
}


a[href^="http"]:after {
    margin: 0 0 0 3px;
    font-family: "Font Awesome 5 Free";
    content: '\f35d';
    font-weight: 900;
    color: #cecece;
}